/* - Variables - */
:root {
    --color1:rgb(214, 199, 156);
    --color2:rgb(57, 48, 33);
    --color3:rgb(247, 239, 222);
    --color4:rgb(239, 195, 41)
}

/* - Global Styles - */
html {
    font-size: 16px;
    color: var(--color2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    margin: 20px;
}

h2{
    font-size: 1.3rem;
    line-height: 1.15;
    color: black;
    text-shadow: 0.1em 0.1em 0.2em rgb(157, 134, 98);
}

.app {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    background-color:var(--color1);
    padding: 30px;
    min-width: 320px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 6px;
}

.input_group {
    margin: 10px auto;
    border-radius: 5px;
    padding: 15px 0px;
    padding-bottom: 10px;
    flex-direction: column;
    position: relative;
    
}

.input_group_title {
    margin: auto;
    position:absolute;
    top: -11px;
    background-color: var(--color2);
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: var(--color4);
    font-size: 95%;
    font-weight: bold;
}

.input_1 {
    display: flex;
    margin-bottom: 10px;
    background-color:var(--color3);
    border-radius: 3px;
    padding: 16px;
    width: 300px;
    align-items: center;
    justify-content:center;
    color: var(--input-title-font);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
}

input{
    border: 0px;
    margin: 5px;
    text-align: center;
    border-radius: 16px;
    background-color: white;
    padding: 5px;
    width: 50px;
    font-size: 1.1rem;
}
